/* You can add global styles to this file, and also import other style files */

.gamer {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: red;
  text-align: center;
}
