/* You can add global styles to this file, and also import other style files */

.points {
  display: inline-block;
  position: absolute;
  border: red solid medium;
  top: 0;
  right: 0;
}
.gamer {
  display: inline-block;
  position: absolute;
}
