<!--
<div>
  <strong>original liste</strong>
  <ul>
    <li *ngFor="let usr of $user.userList$ | async">{{usr.lastname}}</li>
  </ul>
</div>
-->

<input type="text"
       placeholder="filter"
       (keyup)="filter($event)"
       #val
>
<button [disabled]="val.value.length===0"
        (click)="resetFilter()">reset
</button>


<pl-user-list-item
  *ngFor="let user of filtered"
  (selectUsr)="setAsSelected( $event )"
  [selected]="selectedUser?.id === user?.id"
  [user]="user"
>
</pl-user-list-item>
<button (click)="addRndUser()">+</button>
<ng-container *ngIf="selectedUser">
<button (confirmed)="del()"
        [plDanger]="delMsg"
>{{selectedUser.firstname}} löschen?</button>
  <hr>
  <input type="text" name="firstname"
         placeholder="firstname" [value]="selectedUser.firstname" #inpFirstname>
  <input type="text" name="lastname"
         placeholder="lastname" [value]="selectedUser.lastname"  #inpLastname>
  <button (click)="update(inpFirstname.value, inpLastname.value)">update</button>
</ng-container>


