<input type="text"
       placeholder="filter"
       (keyup)="filter($event)"
       #val
>
<button [disabled]="val.value.length===0"
        (click)="resetFilter()">reset
</button>


<pl-user-list-item
  *ngFor="let user of filtered"
  (selectUsr)="setAsSelected( $event )"
  [selected]="selectedUser?.id === user?.id"
  [user]="user"
>
</pl-user-list-item>
<button (click)="addRndUser()">+</button>
<button *ngIf="selectedUser"
        (confirmed)="del()"
        [plDanger]="delMsg"
>{{selectedUser.firstname}} löschen?</button>


