:host {
  display: block;
  color: darkblue;
  cursor: pointer;
  &:hover {
    color: black;
  }
  &.selected {
    font-weight: bold;
    &:hover {
      color: darkblue;
      cursor: default;
    }
  }
}
